.menu-page {
    margin-top: 3rem;
}

.menu-page h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #fff;
    padding: 0 25px;
}

.menu-grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 0;
}
